<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="wrapper">
		<h1>Tus productos</h1>
		<div class="project">

			<div class="shop">
				<div class="box">
					<img src="/images/juguetes/lego1.jpg">
					<div class="content">
						<h3>Lego 1000 piezas</h3>
						<h4>Precio: $7660</h4>
						<p class="unit">cantidad: <input type="number" name="cantidad" id="cantidad"></p>
						<p class="btn-area"><i  class="fa fa-trash"></i> <span class="btn2">Remove</span></p>
					</div>
				</div>
				<div class="box">
					<img src="/images/juguetes/pistaautos.jpg">
					<div class="content">
						<h3>Pista de autos</h3>
						<h4>Precio: $3200</h4>
						<p class="unit">cantidad: <input type="number" name="cantidad" id="cantidad"></p>
						<p class="btn-area"><i class="fa fa-trash"></i> <span class="btn2">Remove</span></p>
					</div>
				</div>
				<div class="box">
					<img src="/images/juguetes/uno.jpg">
					<div class="content">
						<h3>UNO</h3>
						<h4>Precio: $2500</h4>
						<p class="unit">cantidad: <input type="number" name="cantidad" id="cantidad"></p>
						<p class="btn-area"><i class="fa fa-trash"></i> <span class="btn2">Remove</span></p>
					</div>
				</div>
			</div>
			<div class="right-bar">
				<p><span>Total</span> <span>$13.360</span></p>
				<hr>
				<p><span>IVA(15%)</span><span>$200</span></p>
				<hr>
				<p><span>Envío</span><span>Gratis</span></p>
				<hr>
				<p><span>Total a pagar</span><span>$13.560</span></p><a href="#"><i class="fa fa-shopping-cart"></i>Pagar</a>
			</div>
		</div>
	</div>
</body>
</html>