
   
<!DOCTYPE html>
<html>
<head>
	<title>Contact us</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body class="contact">
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Dejanos tu consulta</h2>
				<input type="text" class="field" placeholder="Tu nombre" name="nombre" id="nombre">
				<input type="text" class="field" placeholder="Tu Email" name="email" id="email">
				<input type="text" class="field" placeholder="Celular" name="celular" id="celular">
				<textarea placeholder="Mensaje" class="field"></textarea>
				<button class="btn">Enviar</button>
			</div>
		</div>
	</div>
</body>
</html>