<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">

</head>

<body class="body-login">

    <!--  aca va a ir el logo -->
   
    <!-- formulario -->
    <main class="login-design">
        
        
        <div class="login__container">
            <div class="login-info-container">

                <h2>Iniciar Sesión</h2>
                <form action="" class="inputs-container">
                    <p class="p-input">Tu email</p>
                    <input type="text" class="input" name="email-log" id="email-log">
                    <p class="p-input">Tu contraseña</p>
                    <input type="password" class="input" name="password-log" id="password-log">
                    <div class="terminos">
                        <input type="checkbox" name="terminos-log" id="terminos-log">
                     <label for="terminos">Mantener mi sesión abierta</label> 
                     </div>
                    <button>Iniciar Sesión</button>
                    <button class="btn2"><a href="/register">Registrate</a></button>
               

                <div class="footer-login">
                   

                    <a href="/password"><p>¿Olvidaste tu contraseña?</p></a>
                </div>
 </form>
            </div>
        </div>
        
        <div class="background">
            <img src="../images/login pc.jpg" alt="toy story" class="toy1">
        </div>
    </main>

</body>

</html>