<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/99a633ec0f.js" crossorigin="anonymous"></script>
    <title>Painball</title>
    <link rel="stylesheet" href="/stylesheets/detalle-prod.css">
     
</head>
<body class="detail">
    <div class="container">
        <div class="card">
            <div class="images">
               <div class="slider">
                   <img src="/images/juguetes/21817.webp" alt="">
               </div>
            </div>
            <div class="infos">
                <h1>Pinball</h1>
                <div class="reviews">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="precio">
                    <h3>$7500</h3>
                    <h3>$8800</h3>
                </div>
                <div class="more-infos">
                    <h5>Descripcion</h5>
                    <h5>Info básica</h5>
                    <h5>Opiniones</h5>
                </div>
                <div class="info-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor accusantium provident, dolore reprehenderit dicta, recusandae id ad odit perspiciatis quidem </p>
                </div>
                <div class="buttons">
                    <button><i class="fa-solid fa-cart-shopping"></i><a href="/buy">Agregar</a> </button>
                    <button><i class="fa-solid fa-credit-card"></i><a href=""> Comprar</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>