<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body class="body-password">

    <!--  aca va a ir el logo -->
   
    <!-- formulario -->
    <main class="password-design">
        
        
        <div class="password__container">
            <div class="password-info-container">

                <h2>Recuperar contraseña</h2>
                <form action="" class="inputs-container">
                    <p>Tu email registrado</p>
                   
                   <input type="text" class="input" name="input" id="input">
                  
                    <button type="submit">Enviar código</button>
                    <a href="/sesion">
                        <p>Volver</p>
                    </a>
              </form>
              
            </div>
        </div>
       
    </main>

</body>

</html>