<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOODY</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="superior-menu-container">
                <!-- burger-logo -->
                <div class="burger-logo-container">
                    <div class="burger-container">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo-container">
                        <img src="./images/woody-logo.svg" alt="logo de woody" class="logo" />
                    </div>
                </div>
                <!-- search-bar -->
                <div class="search-bar-container">
                    <div class="search-bar-container-tablet-desktop">
                        <input class="search-bar-input" type="text" placeholder="Buscar productos, marcas" />
                        <button class="search-bar-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- user-cart -->
                <div class="user-cart-container">
                    <!-- user -->
                    <div class="user-container">
                        <a href="/login"><i class="fas fa-user"></i></a>
                    </div>
                    <!-- cart -->
                    <div class="cart-container">
                        <a href="/buy"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="inferior-menu-container">
                <nav class="navbar-header-container">
                    <ul class="navbar-header-list-container">
                        <li class="navbar-header-list-items"><a href="/">home</a></li>
                        <li class="navbar-header-list-items drop-down"><a href="/productos">productos<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="navbar-submenu-products-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">muñecas y muñecos</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">juguetes de construccion</a>
                                </li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">juguetes de mesa</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">otros</a></li>
                            </ul>
                        </li>
                        <li class="navbar-header-list-items"><a href="/contact">contacto</a></li>
                        <li class="navbar-header-list-items"><a href="nosotros">nosotros</a></li>
                        <li class="navbar-header-list-items drop-down footer-mobile-menu-items"><a href="#">ayuda<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="sub-menu-footer-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes">preguntas frecuentes</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes#pagos">pagos</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes#envios">envíos</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="/preguntas-frecuentes#cambios-devoluciones">cancelaciones y devoluciones</a></li>
                            </ul>
                        </li>
                        <li class="navbar-header-list-items drop-down footer-mobile-menu-items"><a href="/legales">legales<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="sub-menu-footer-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="/terminos">términos y condiciones</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">política de privacidad</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">trabajá con nosotros</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="rss-menu-mobile-container">
                    <ul class="rss-header-menu-list">
                        <li class="rss-header-menu-items"><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li class="rss-header-menu-items"><a href=""><i class="fab fa-facebook-square"></i></a></li>
                        <li class="rss-header-menu-items"><a href=""><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    
    </header>
    <main>
        <section class="preguntas">
            <h1 class="title-section-preguntas" id="preguntas-frecuentes">
                PREGUNTAS FRECUENTES
            </h1>
            <!-- compras y pagos -->
            <article>
                <h2 class="preguntas-subtitle" id="pagos">
                    CÓMO COMPRAR
                </h2>
                <h3 class="preguntas-subtitle-sub ">
                    ¿CUÁLES SON LAS FORMAS DE PAGO?
                </h3>
                <p class="preguntas-texto preguntas-cambio-mini">
                    Podés abonar con todas las formas de pago disponibles que funcionen dentro del territorio Argentino
                </p>
                <h3 class="preguntas-subtitle-sub">
                    ¿CÓMO SE SI SE ACREDITA MI PAGO?
                </h3>
                <p class="preguntas-texto preguntas-cambio">
                    Te debe llegar un mail con la confirmación. Por eso, es importante que revises tus datos personales
                    antes de terminar la compra. En caso que no lo visualices revisá la casilla de spam.
                </p>
            </article>
            <!-- Envíos -->
            <article>
                <h2 class="preguntas-subtitle" id="envios">
                    ENVÍOS
                </h2>
                <h3 class="preguntas-subtitle-sub ">
                    ¿CUÁL ES EL COSTO DE LOS ENVÍOS?
                </h3>
                <p class="preguntas-texto preguntas-cambio-mini">
                    Envio gratis sumando a tu compra un producto mayor a $3500.
                </p>
                <h3 class="preguntas-subtitle-sub">
                    ¿CÓMO RASTREO MI PEDIDO?
                </h3>
                <p class="preguntas-texto preguntas-cambio-mini">
                    Una vez que el producto se despacha te llegará un mail con el seguimiento de envío dado por la
                    empresa de correo, en caso de no visualizarlo revisá la casilla de spam. También podés consultarnos
                    con tu número de compra o nombre de usuario en el WhatsApp de la tienda online.
                </p>
                <h3 class="preguntas-subtitle-sub">
                    ¿MI PEDIDO PUEDE SER RECIBIDO POR OTRA PERSONA?
                </h3>
                <p class="preguntas-texto preguntas-cambio-mini">
                    Sí, lo puede recibir cualquier persona mayor de 18 años con DNI en mano que pueda acreditar su
                    identidad.
                </p>
                <h3 class="preguntas-subtitle-sub">
                    ¿QUÉ PASA SI NO ESTOY EN MI DOMICILIO CUANDO PASA EL CORREO?
                </h3>
                <p class="preguntas-texto preguntas-cambio">
                    Si no pudiste recibir el pedido en la primera visita, el correo realizará una segunda. En el
                    seguimiento te avisará que día será la próxima visita o, en su defecto, la información al respecto
                    del envío.
                </p>
            </article>
            <!-- cambios y devoluciones -->
            <article>
                <h2 class="preguntas-subtitle" id="cambios-devoluciones">
                    CAMBIOS Y DEVOLUCIONES
                </h2>
                <h3 class="preguntas-subtitle-sub">
                    ¿PUEDO CAMBIAR O DEVOLVER MI PRODUCTO SI LO COMPRÉ EN UNA SUCURSAL?
                </h3>
                <p class="preguntas-texto preguntas-cambio-mini">
                    Si, para poder realizar el cambio debés acercarte a tu sucursal más cercana dentro de los 30 días
                    desde realizada la compra con el correspondiente ticket de cambio y el producto en perfecto estado.
                    En cualquier otro caso, debés acercarte a la sucursal de compra para que puedan evaluar el caso y
                    darte una respuesta.
                </p>
                <h3 class="preguntas-subtitle-sub">
                    ¿CÓMO GESTIONAR UN CAMBIO O DEVOLUCIÓN DE UNA COMPRA WEB?
                </h3>
                <p class="preguntas-texto">
                    En este caso debés comunicarte con nuestro Centro de Atención Post Venta para compras online al
                    siguiente WhatsApp: +54 9 11 2193-1124. Recordá tener a mano tu número de pedido para poder
                    coordinar el correspondiente cambio.
                </p>
            </article>
        </section>


    </main>
    <footer>
        <!-- FOOTER-MENU-AYUDA-LEGALES-DIRECCIÓN -->
        <nav class="footer-menu-container">
            <ul class="menu-footer-lista">
                <li>
                    <h4 class="menu-footer-title">ayuda</h4>
                </li>
                <li class="menu-footer-list-items"><a href="/preguntas-frecuentes">preguntas frecuentes</a></li>
                <li class="menu-footer-list-items"><a href="preguntas-frecuentes#pagos">pagos</a></li>
                <li class="menu-footer-list-items"><a href="preguntas-frecuentes#envios">envíos</a></li>
                <li class="menu-footer-list-items"><a href="preguntas-frecuentes#cambios-devoluciones">cambios y devoluciones</a></li>
            </ul>
            <ul class="menu-footer-lista">
                <li>
                    <h4 class="menu-footer-title">legales</h4>
                </li>
                <li class="menu-footer-list-items"><a class="menu-footer-links" href="/legales">legales</a></li>
                <li class="menu-footer-list-items"><a href="#">trabaja con nosotros</a></li>
                <li class="menu-footer-list-items"><a href="/terminos">términos y condiciones</a></li>
                <li class="menu-footer-list-items"><a href="#">políticas de privacidad</a></li>
            </ul>
            <ul class="menu-footer-lista">
                <li>
                    <h4 class="menu-footer-title">contactanos</h4>
                </li>
                
                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fab fa-whatsapp"></i></span>11-5897-5897</li>

                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-map-marker-alt"></i></span>av. rivadavia 5897</li>
                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-clock"></i></span>09:000hs a 17:00hs.</li>
                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-envelope"></i></span><a href="">woody@ventas.com</a></li>
            </ul>
        </nav>
        <!-- FOOTER-REDES-SOCIALES -->
        <nav class="rss-container">
            <a class="rss-container-items" href="#"><i class="fab fa-instagram"></i></a>
            <a class="rss-container-items" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="rss-container-items" href="#"><i class="fab fa-twitter"></i></a>
        </nav>
        <!-- FOOTER-COPYRIGHT -->
        <h5 class="copyright">©Todos los derechos reservados a Woody Toys S.A.</h5>
    </footer>
</body>
<footer>
    <!-- FOOTER-MENU-AYUDA-LEGALES-DIRECCIÓN -->
    <nav class="footer-menu-container">
        <ul class="menu-footer-lista">
            <li>
                <h4 class="menu-footer-title">ayuda</h4>
            </li>
            <li class="menu-footer-list-items"><a href="/preguntas-frecuentes">preguntas frecuentes</a></li>
            <li class="menu-footer-list-items"><a href="preguntas-frecuentes#pagos">pagos</a></li>
            <li class="menu-footer-list-items"><a href="preguntas-frecuentes#envios">envíos</a></li>
            <li class="menu-footer-list-items"><a href="preguntas-frecuentes#cambios-devoluciones">cambios y devoluciones</a></li>
        </ul>
        <ul class="menu-footer-lista">
            <li>
                <h4 class="menu-footer-title">legales</h4>
            </li>
            <li class="menu-footer-list-items"><a class="menu-footer-links" href="/legales">legales</a></li>
            <li class="menu-footer-list-items"><a href="#">trabaja con nosotros</a></li>
            <li class="menu-footer-list-items"><a href="/terminos">términos y condiciones</a></li>
            <li class="menu-footer-list-items"><a href="#">políticas de privacidad</a></li>
        </ul>
        <ul class="menu-footer-lista">
            <li>
                <h4 class="menu-footer-title">contactanos</h4>
            </li>
            
            <li class="menu-footer-list-items"><span class="contact-icons"><i class="fab fa-whatsapp"></i></span>11-5897-5897</li>

            <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-map-marker-alt"></i></span>av. rivadavia 5897</li>
            <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-clock"></i></span>09:000hs a 17:00hs.</li>
            <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-envelope"></i></span><a href="">woody@ventas.com</a></li>
        </ul>
    </nav>
    <!-- FOOTER-REDES-SOCIALES -->
    <nav class="rss-container">
        <a class="rss-container-items" href="#"><i class="fab fa-instagram"></i></a>
        <a class="rss-container-items" href="#"><i class="fab fa-facebook-square"></i></a>
        <a class="rss-container-items" href="#"><i class="fab fa-twitter"></i></a>
    </nav>
    <!-- FOOTER-COPYRIGHT -->
    <h5 class="copyright">©Todos los derechos reservados a Woody Toys S.A.</h5>
</footer>
</html>