<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOODY</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/99a633ec0f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="superior-menu-container">
                <!-- burger-logo -->
                <div class="burger-logo-container">
                    <div class="burger-container">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo-container">
                        <a href="/"><img src="./images/woody-logo.svg" alt="logo de woody" class="logo" /></a>
                    </div>
                </div>
                <!-- search-bar -->
                <div class="search-bar-container">
                    <div class="search-bar-container-tablet-desktop">
                        <input class="search-bar-input" type="text" placeholder="Buscar productos, marcas" />
                        <button class="search-bar-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- user-cart -->
                <div class="user-cart-container">
                    <!-- user -->
                    <div class="user-container">
                        <a href="/login"><i class="fas fa-user"></i></a>
                    </div>
                    <!-- cart -->
                    <div class="cart-container">
                        <a href="/buy"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="inferior-menu-container">
                <nav class="navbar-header-container">
                    <ul class="navbar-header-list-container">
                        <li class="navbar-header-list-items"><a href="/">home</a></li>
                        <li class="navbar-header-list-items drop-down"><a href="/productos">productos<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="navbar-submenu-products-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">Bebés</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="/productos#electroe">Juguetes electrónicos</a>
                                </li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="/productos#mesa">juguetes de mesa</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="/productos">otros</a></li>
                            </ul>
                        </li>
                        <li class="navbar-header-list-items"><a href="/contacto">contacto</a></li>
                        <li class="navbar-header-list-items"><a href="/nosotros">nosotros</a></li>
                        <li class="navbar-header-list-items drop-down footer-mobile-menu-items"><a href="#">ayuda<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="sub-menu-footer-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes">preguntas frecuentes</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes#pagos">pagos</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes#envios">envíos</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="/preguntas-frecuentes#cambios-devoluciones">cancelaciones y devoluciones</a></li>
                            </ul>
                        </li>
                        <li class="navbar-header-list-items drop-down footer-mobile-menu-items"><a href="/legales">legales<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="sub-menu-footer-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="/terminos">términos y condiciones</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="/privacidad">política de privacidad</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="/recursos">trabajá con nosotros</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="rss-menu-mobile-container">
                    <ul class="rss-header-menu-list">
                        <li class="rss-header-menu-items"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="rss-header-menu-items"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li class="rss-header-menu-items"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    
    </header>
    <main>
        <section class="privacidad">
            <h1 class="title-section-privacidad">
                POLÍTICA DE PRIVACIDAD
            </h1>
            <p class="privacidad-texto">
                El mantener segura la información y datos personales ingresados por los usuarios a este sitio web, y utilizarlos exclusivamente de la manera que los mismos desearían que lo hiciéramos, es prioridad para tienda. Nuestro compromiso, entonces, es el siguiente:
            </p>
            <ol start="1">
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">1. Salvaguardar toda información que cada usuario comparta con nosotros, bajo los más estrictos estándares de seguridad y confidencialidad.</p>
                </li>
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">2. Limitar la obtención, utilización y revelación de la información de los usuarios a lo requerido para la prestación de los servicios respectivos.</p>
                </li>
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">3. Permitir que sólo aquellos empleados autorizados de tienda debidamente entrenados en el manejo adecuado de la información de los usuarios puedan tener acceso a la misma.</p>
                </li>
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">4. No revelar información respecto de los usuarios a entes públicos o privados salvo para el desarrollo de la actividad propia de tienda, a menos que el usuario hubiera sido informado previamente de tal circunstancia y que éste lo autorice, o que así nos fuera requerido por la legislación aplicable.</p>
                </li>
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">5. Procurar mantener los archivos de los usuarios completos, actualizados y libres de errores.</p>
                </li>
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">6. Salvo en los campos en que se indique lo contrario, las respuestas a las preguntas sobre datos personales e información son voluntarias, sin que la falta de contestación implique una merma en la calidad o cantidad de los servicios correspondientes, a menos que se indique otra cosa.</p>
                </li>
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">7. Reconocer a los usuarios los derechos de acceso, cancelación, rectificación y oposición, así como tienen reconocido el derecho a ser informado de las cesiones realizadas contactándose con tienda a través del formulario de contacto.</p>
                </li>
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">8. Adoptar los niveles de seguridad de protección de los datos personales e información legalmente requeridos, e instalar todos los medios y medidas técnicas a nuestro alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos y la información facilitados a tienda. No obstante, los usuarios deben ser conscientes de que las medidas de seguridad en Internet no son inexpugnables.</p>
                </li>
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">9. Garantizar el tratamiento de los datos personales facilitados por los usuarios en un todo de conformidad con los preceptos de la Ley N° 25.326 de Protección de Datos Personales.</p>
                </li>
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">10. Otorgar a los usuarios la posibilidad de -una vez registrados en tienda - revisar y cambiar la información que nos han enviado durante el proceso de registración.</p>
                </li>
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">11. Tienda podrá modificar en cualquier momento los términos y condiciones de estas Políticas de Privacidad y confidencialidad y notificará los cambios a los usuarios publicando una versión actualizada de dichas Políticas en esta sección.</p>
                </li>
                <li>
                    <p class="privacidad-texto privacidad-texto-lista">12. Esta Política de Privacidad se aplica a todos los productos y servicios operados por tienda. No se aplica –en cambio- a sitios a los que el usuario pudiera acceder por medio de links o cualquier otro tipo de vínculo.</p>
                </li>
            </ol>            
        </section>


    </main>
    <footer>
        <!-- FOOTER-MENU-AYUDA-LEGALES-DIRECCIÓN -->
        <nav class="footer-menu-container">
            <ul class="menu-footer-lista">
                <li>
                    <h4 class="menu-footer-title">ayuda</h4>
                </li>
                <li class="menu-footer-list-items"><a href="/preguntas-frecuentes">preguntas frecuentes</a></li>
                <li class="menu-footer-list-items"><a href="preguntas-frecuentes#pagos">pagos</a></li>
                <li class="menu-footer-list-items"><a href="preguntas-frecuentes#envios">envíos</a></li>
                <li class="menu-footer-list-items"><a href="preguntas-frecuentes#cambios-devoluciones">cambios y devoluciones</a></li>
            </ul>
            <ul class="menu-footer-lista">
                <li>
                    <h4 class="menu-footer-title">legales</h4>
                </li>
                <li class="menu-footer-list-items"><a class="menu-footer-links" href="/legales">legales</a></li>
                <li class="menu-footer-list-items"><a href="/recursos">trabaja con nosotros</a></li>
                <li class="menu-footer-list-items"><a href="/terminos">términos y condiciones</a></li>
                <li class="menu-footer-list-items"><a href="/privacidad">políticas de privacidad</a></li>
            </ul>
            <ul class="menu-footer-lista">
                <li>
                    <h4 class="menu-footer-title">contactanos</h4>
                </li>
                
                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fab fa-whatsapp"></i></span>11-5897-5897</li>

                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-map-marker-alt"></i></span>av. rivadavia 5897</li>
                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-clock"></i></span>09:000hs a 17:00hs.</li>
                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-envelope"></i></span><a href="#">woody@ventas.com</a></li>
            </ul>
        </nav>
        <!-- FOOTER-REDES-SOCIALES -->
        <nav class="rss-container">
            <a class="rss-container-items" href="#"><i class="fab fa-instagram"></i></a>
            <a class="rss-container-items" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="rss-container-items" href="#"><i class="fab fa-twitter"></i></a>
        </nav>
        <!-- FOOTER-COPYRIGHT -->
        <h5 class="copyright">©Todos los derechos reservados a Woody Toys S.A.</h5>
    </footer>
</body>
</html>