<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/99a633ec0f.js" crossorigin="anonymous"></script>
    <title>productos</title>
</head>
<body class="productos">
    <main>
        <h2>OFERTAS</h2>
        <section class="wrapper">
        <article class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="/images/juguetes/21817.webp" alt="">
                </a>
                <p class="hot-label">oferta</p>
                <ul class="links">
                    <li><a href="#" data-tip="agregar al carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#" data-tip="agregar a favoritos"><i class="fa-solid fa-crown"></i></a></li>
                    <li><a href="#" data-tip="buscar similar"><i class="fa-solid fa-shuffle"></i></a></li></ul>
                
            </div><!-- product-image -->
            <div class="product-content">
                <h3 class="title"><a href="/painball">Painball</a></h3>
                <div class="price">$7500</div>
            </div>
        </article> <!-- product-grid -->
        <article class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="/images/juguetes/42506ca3335dad052035d6035cfceaf3.jpg" alt="">
                </a>
                <p class="hot-label">oferta</p>
                <ul class="links">
                    <li><a href="#" data-tip="agregar al carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#" data-tip="agregar a favoritos"><i class="fa-solid fa-crown"></i></a></li>
                    <li><a href="#" data-tip="buscar similar"><i class="fa-solid fa-shuffle"></i></a></li></ul>
                
            </div><!-- product-image -->
            <div class="product-content">
                <h3 class="title"><a href="#">Celular musical</a></h3>
                <div class="price">$1500</div>
            </div>
        </article> <!-- product-grid -->

        <article class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="/images/juguetes/__57_2.jpg" alt="">
                </a>
                <p class="hot-label">oferta</p>
                <ul class="links"> 
                     <li><a href="#" data-tip="agregar al carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#" data-tip="agregar a favoritos"><i class="fa-solid fa-crown"></i></a></li>
                    <li><a href="#" data-tip="buscar similar"><i class="fa-solid fa-shuffle"></i></a></li>
                </ul>
                
            </div><!-- product-image -->
            <div class="product-content">
                <h3 class="title"><a href="#">Dra Juguetes</a></h3>
                <div class="price">$8500</div>
            </div>
        </article> <!-- product-grid -->

        <article class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="/images/juguetes/ajedrez.jpg" alt="">
                </a>
                <p class="hot-label">oferta</p>
                <ul class="links">
                    <li><a href="#" data-tip="agregar al carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#" data-tip="agregar a favoritos"><i class="fa-solid fa-crown"></i></a></li>
                    <li><a href="#" data-tip="buscar similar"><i class="fa-solid fa-shuffle"></i></a></li> </ul>
                
            </div><!-- product-image -->
            <div class="product-content">
                <h3 class="title"><a href="#">Ajedrez</a></h3>
                <div class="price">$2500</div>
            </div>
        </article> <!-- product-grid -->

       
       
    </section>
<h2>RECOMENDADOS</h2>
    <section class="wrapper">
        <article class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="/images/juguetes/generala.jpg" alt="">
                </a>
                
                <ul class="links">
                    <li><a href="#" data-tip="agregar al carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#" data-tip="agregar a favoritos"><i class="fa-solid fa-crown"></i></a></li>
                    <li><a href="#" data-tip="buscar similar"><i class="fa-solid fa-shuffle"></i></a></li>
                </ul>
                
            </div><!-- product-image -->
            <div class="product-content">
                <h3 class="title"><a href="#">Alfombra musical</a></h3>
                <div class="price">$7500</div>
            </div>
        </article>
        </article> <!-- product-grid -->
        <article class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="/images/juguetes/D_NQ_NP_779185-MCO41830711120_052020-V.jpg" alt="">
                </a>
              
                <ul class="links">
                    <li><a href="#" data-tip="agregar al carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#" data-tip="agregar a favoritos"><i class="fa-solid fa-crown"></i></a></li>
                    <li><a href="#" data-tip="buscar similar"><i class="fa-solid fa-shuffle"></i></a></li>
                </ul>
                
            </div><!-- product-image -->
            <div class="product-content">
                <h3 class="title"><a href="#">Alfombra musical</a></h3>
                <div class="price">$7500</div>
            </div>
        </article> <!-- product-grid -->
        <article class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="/images/juguetes/cincosegundos.jpg" alt="">
                </a>
              
                <ul class="links">
                    <li><a href="#" data-tip="agregar al carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#" data-tip="agregar a favoritos"><i class="fa-solid fa-crown"></i></a></li>
                    <li><a href="#" data-tip="buscar similar"><i class="fa-solid fa-shuffle"></i></a></li>
                </ul>
                
            </div><!-- product-image -->
            <div class="product-content">
                <h3 class="title"><a href="#">Alfombra musical</a></h3>
                <div class="price">$7500</div>
            </div>
        </article> <!-- product-grid -->
        <article class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="/images/juguetes/cocinita.jpg" alt="">
                </a>
             
                <ul class="links">
                    <li><a href="#" data-tip="agregar al carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#" data-tip="agregar a favoritos"><i class="fa-solid fa-crown"></i></a></li>
                    <li><a href="#" data-tip="buscar similar"><i class="fa-solid fa-shuffle"></i></a></li>
                </ul>
                
            </div><!-- product-image -->
            <div class="product-content">
                <h3 class="title"><a href="#">Alfombra musical</a></h3>
                <div class="price">$7500</div>
            </div>
        </article> <!-- product-grid -->
      
    </section>
    <h2>Busca por categoría</h2>
    <section class="wrapper">
        <article class="product-grid">
    
           
        </article> <!-- product-grid -->
        <article class="product-grid">
    
           
        </article> <!-- product-grid -->
        <article class="product-grid">
    
           
        </article> <!-- product-grid -->
        <article class="product-grid">
    
           
        </article> <!-- product-grid -->
    </section>
    </main>
    
</body>
</html>