<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/99a633ec0f.js" crossorigin="anonymous"></script>
    <title>productos</title>
</head>
<body class="productos">
    <header>
        <div class="header-container">
            <div class="superior-menu-container">
                <!-- burger-logo -->
                <div class="burger-logo-container">
                    <div class="burger-container">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo-container">
                        <a href="/"><img src="./images/woody-logo.svg" alt="logo de woody" class="logo" /></a>
                    </div>
                </div>
                <!-- search-bar -->
                <div class="search-bar-container">
                    <div class="search-bar-container-tablet-desktop">
                        <input class="search-bar-input" type="text" placeholder="Buscar productos, marcas" />
                        <button class="search-bar-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- user-cart -->
                <div class="user-cart-container">
                    <!-- user -->
                    <div class="user-container">
                        <a href="/login"><i class="fas fa-user"></i></a>
                    </div>
                    <!-- cart -->
                    <div class="cart-container">
                        <a href="/buy"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="inferior-menu-container">
                <nav class="navbar-header-container">
                    <ul class="navbar-header-list-container">
                        <li class="navbar-header-list-items"><a href="/">home</a></li>
                        <li class="navbar-header-list-items drop-down"><a href="/productos">productos<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="navbar-submenu-products-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">muñecas y muñecos</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">juguetes de construccion</a>
                                </li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">juguetes de mesa</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">otros</a></li>
                            </ul>
                        </li>
                        <li class="navbar-header-list-items"><a href="/contacto">contacto</a></li>
                        <li class="navbar-header-list-items"><a href="/nosotros">nosotros</a></li>
                        <li class="navbar-header-list-items drop-down footer-mobile-menu-items"><a href="#">ayuda<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="sub-menu-footer-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes">preguntas frecuentes</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes#pagos">pagos</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes#envios">envíos</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="/preguntas-frecuentes#cambios-devoluciones">cancelaciones y devoluciones</a></li>
                            </ul>
                        </li>
                        <li class="navbar-header-list-items drop-down footer-mobile-menu-items"><a href="/legales">legales<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="sub-menu-footer-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="/terminos">términos y condiciones</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">política de privacidad</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">trabajá con nosotros</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="rss-menu-mobile-container">
                    <ul class="rss-header-menu-list">
                        <li class="rss-header-menu-items"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="rss-header-menu-items"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li class="rss-header-menu-items"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    
    </header>
 
    
</body>
</html>