<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOODY</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="superior-menu-container">
                <!-- burger-logo -->
                <div class="burger-logo-container">
                    <div class="burger-container">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo-container">
                        <img src="./images/woody-logo.svg" alt="logo de woody" class="logo" />
                    </div>
                </div>
                <!-- search-bar -->
                <div class="search-bar-container">
                    <div class="search-bar-container-tablet-desktop">
                        <input class="search-bar-input" type="text" placeholder="Buscar productos, marcas" />
                        <button class="search-bar-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- user-cart -->
                <div class="user-cart-container">
                    <!-- user -->
                    <div class="user-container">
                        <i class="fas fa-user"></i>
                    </div>
                    <!-- cart -->
                    <div class="cart-container">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="inferior-menu-container">
                <nav class="navbar-header-container">
                    <ul class="navbar-header-list-container">
                        <li class="navbar-header-list-items"><a href="/">home</a></li>
                        <li class="navbar-header-list-items drop-down"><a href="/productos">productos<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="navbar-submenu-products-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">muñecas y muñecos</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">juguetes de construccion</a>
                                </li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">juguetes de mesa</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">otros</a></li>
                            </ul>
                        </li>
                        <li class="navbar-header-list-items"><a href="/contacto">contacto</a></li>
                        <li class="navbar-header-list-items"><a href="nosotros">nosotros</a></li>
                        <li class="navbar-header-list-items drop-down footer-mobile-menu-items"><a href="#">ayuda<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="sub-menu-footer-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes">preguntas frecuentes</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes#pagos">pagos</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="./preguntas-frecuentes#envios">envíos</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="/preguntas-frecuentes#cambios-devoluciones">cancelaciones y devoluciones</a></li>
                            </ul>
                        </li>
                        <li class="navbar-header-list-items drop-down footer-mobile-menu-items"><a href="/legales">legales<span class="submenu-button-down"><i
                                        class="fas fa-caret-down"></i></span></a>
                            <ul class="sub-menu-footer-mobile-list">
                                <li class="sub-menu-footer-mobile-list-items"><a href="/terminos">términos y condiciones</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">política de privacidad</a></li>
                                <li class="sub-menu-footer-mobile-list-items"><a href="#">trabajá con nosotros</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="rss-menu-mobile-container">
                    <ul class="rss-header-menu-list">
                        <li class="rss-header-menu-items"><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li class="rss-header-menu-items"><a href=""><i class="fab fa-facebook-square"></i></a></li>
                        <li class="rss-header-menu-items"><a href=""><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    
    </header>
    <main>
        <section class="terminos">
            <h1 class="title-section-terminos">
                TÉRMINOS Y CONDICIONES
            </h1>
            <h2 class="terminos-subtitle">
                OBJETIVOS DEL SITIO WEB
            </h2>
            <p class="terminos-texto">
                El presente contrato (en adelante el “Contrato”) describe los términos y condiciones generales (las “Condiciones Generales”) que regulan el uso de los contenidos y servicios que integran el sitio web www.Woody.com.ar (en adelante, el “Sitio Web”) que Razón Social (“Woody”) pone a disposición de los usuarios de Internet (el “Usuario”).
            </p>
            <p class="terminos-texto">
                A través del Sitio Web, Woody facilita a los Usuarios el acceso y la utilización de diversos servicios y contenidos, que son puestos a disposición de los Usuarios, por tienda, por terceros usuarios del Sitio Web y/o por terceros proveedores de servicios y contenidos.
            </p>
            <h2 class="terminos-subtitle">
                ACCESO Y UTILIZACIÓN DEL SITIO WEB
            </h2>
            <p class="terminos-texto">
                La utilización del Sitio Web atribuye la condición de usuario del mismo y expresa la aceptación plena y sin reservas del Usuario de todas y cada una de las Condiciones Generales en la versión publicada por Woody en el momento mismo en que el Usuario acceda al Sitio Web. En consecuencia, el Usuario debe leer atentamente las Condiciones Generales en cada una de las ocasiones en que se proponga utilizar el Sitio Web y cualquier Usuario que no acepte estas Condiciones Generales, las cuales tienen un carácter obligatorio y vinculante, deberá abstenerse de utilizar el Sitio Web y/o los servicios.
            </p>
            <p class="terminos-texto">
                Asimismo, la utilización de los distintos servicios ofrecidos en el Sitio Web (los “Servicios”) y del contenido incluido en el Sitio Web (el “Contenido”) se encuentra sometida igualmente a todos los avisos, reglamentos de uso e instrucciones puestos en conocimiento del Usuario por Woody, que completan lo previsto en estas Condiciones Generales en cuanto no se opongan a ellas.
            </p>
            <p class="terminos-texto">
                Woody se reserva el derecho a modificar unilateralmente, en cualquier momento y sin aviso previo, la presentación y configuración del Sitio Web, así como de los Servicios, del Contenido y/o las presentes Condiciones Generales.
            </p>
            <p class="terminos-texto">
                El Usuario se compromete a utilizar el Sitio Web, el Contenido y los Servicios de conformidad con la ley, estas Condiciones Generales, obligándose asimismo a:
            </p>
            <ol start="1">
                <li>
                    <p class="terminos-texto terminos-texto-lista">1. Abstenerse de utilizar el Sitio Web y los Servicios con fines o efectos ilícitos, contrarios a lo establecido en estas Condiciones Generales, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar el Sitio Web y los Servicios o impedir la normal utilización o disfrute del Sitio Web y de los Servicios por parte de los Usuarios.</p>
                </li>
                <li>
                    <p class="terminos-texto terminos-texto-lista">2. Usar los contenidos del Sitio Web de forma diligente, correcta y lícita y, en particular, se compromete a abstenerse de (a) utilizar los contenidos de forma, con fines o efectos contrarios a la ley, a la moral y a las buenas costumbres generalmente aceptadas o al orden público; (b) reproducir o copiar, distribuir, permitir el acceso del público a través de cualquier modalidad de comunicación pública, transformar o modificar los Contenidos, a menos que se cuente con la autorización del titular de los correspondientes derechos o ello resulte legalmente permitido; (c) suprimir, eludir o manipular el copyright y demás datos identificativos de los derechos de Woody o de sus titulares incorporados a los Contenidos, así como los dispositivos técnicos de protección, o cualesquiera mecanismos de información que pudieren contener los contenidos.</p>
                </li>
            </ol>


            <p class="terminos-texto">
                En virtud de lo establecido precedentemente, el Usuario es consciente de y acepta voluntariamente que el uso del Sitio Web, de los Servicios y de los Contenidos tiene lugar, en todo caso, bajo su única y exclusiva responsabilidad.
            </p>
            <p class="terminos-texto">
                Woody se reserva el derecho a denegar o retirar el acceso al Sitio Web y/o a los Servicios, en cualquier momento y sin necesidad de preaviso, a aquellos Usuarios que incumplan estas Condiciones Generales.
            </p>
            <h2 class="terminos-subtitle">
                REGISTRACIÓN
            </h2>
            <p class="terminos-texto">
                En consideración con el uso del Servicio, el Usuario deberá ingresar toda la información requerida en el Sitio Web. En consecuencia, el Usuario declara y garantiza a Woody que toda la información que suministre, así como cualquier otro tipo de información que la tienda le requiera es y será exacta, actual y verdadera y se suministrará de manera completa, comprometiéndose asimismo a mantener actualizada la información suministrada.
            </p>
            <p class="terminos-texto">
                El Usuario es responsable de toda afirmación realizada, operaciones efectuadas o acto ocurrido mediante el uso de su nombre de usuario y contraseña, pues el acceso a su cuenta está restringido al ingreso y uso de contraseña, de conocimiento exclusivo del Usuario. Woody se reserva el derecho de rechazar cualquier solicitud de registración o de cancelar una registración previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.
            </p>
            <p class="terminos-texto">
                El Usuario se compromete a notificar inmediatamente cualquier uso no autorizado de su registración. Woody no será responsable de los daños o pérdidas derivados del incumplimiento por parte del Usuario de las reglas contenidas en este apartado.
            </p>
            <p class="terminos-texto">
                Woody podrá utilizar la información que obtenga a través de la registración para desarrollar la actividad objeto del Sitio Web. En consecuencia, el Usuario, al insertar sus datos a la base de datos del Sitio Web, expresamente autoriza a tienda a revelar dicha información a terceras partes por motivos relacionados con los Servicios ofrecidos en el Sitio Web.
            </p>
            <p class="terminos-texto">
                Toda información suministrada por el Usuario, se usará de acuerdo a las Políticas de Privacidad de Woody. El usuario deberá revisar las Políticas de Privacidad de la tienda, las cuales hacen parte integral del presente Contrato.
            </p>
            <h2 class="terminos-subtitle">
                PROPIEDAD INTELECTUAL
            </h2>
            <p class="terminos-texto">
                El Contenido del Sitio Web, que incluye textos, gráficos, diseños, software y programación utilizados y/o exhibidos en el Sitio Web, es exclusiva propiedad de Razón Social, y se encuentra protegido por normas locales y tratados internacionales.
            </p>
            <p class="terminos-texto">
                Woody no concede ninguna licencia o autorización de uso de ninguna clase sobre sus derechos de propiedad industrial e intelectual o sobre cualquier otra propiedad o derecho relacionado con el Sitio Web, los Servicios o los Contenidos.
            </p>
            <p class="terminos-texto">
                Exoneración y limitación de responsabilidad
            </p>
            <ol start="1">
                <li>
                    <p class="terminos-texto terminos-texto-lista">1. Información y opiniones contenidas en el Sitio Web.</p>
                    <p class="terminos-texto terminos-texto-lista">Woody no asevera ni garantiza la veracidad, actualidad, exactitud o confiabilidad de las informaciones u opiniones incluidas en el Sitio Web ni en ningún Link que aparezca en el Sitio Web. Woody no será responsable de ninguna decisión que el Usuario realice luego de su visita al Woody Web. La información contenida en el Sitio Web no implica ningún tipo de opinión sobre la seguridad o calidad de los distintos tipos de servicios y/o productos ofrecidos en el Sitio Web. Las opiniones, análisis y/o información del Sitio Web son proveídas al Usuario con el único fin de colaborar con los mismos a tomar sus propias decisiones y no pueden ser consideradas como recomendaciones de contratar un servicio en particular.</p>
                    <p class="terminos-texto terminos-texto-lista">Asimismo, Woody no garantiza ni asegura - a pesar de la diligencia puesta en su preparación- que la información del Sitio Web no contenga imprecisiones o errores. Woody no asume responsabilidad alguna que pudiera derivarse de la falta de veracidad, integridad, actualización y precisión de los datos o informaciones de cualquier naturaleza, incluyendo los relativos a ofertas, productos o servicios, precios, características y cualesquiera otros datos e informaciones relevantes acerca de los productos y servicios ofrecidos a través del Sitio Web por terceros proveedores de productos o servicios, ni respecto de los contenidos, datos o informaciones que sean proporcionados desde las páginas web de dichos terceros.</p>
                    <p class="terminos-texto terminos-texto-lista">Woody se reserva, a su discreción, el derecho a actualizar los contenidos del Sitio Web, a eliminarlos, limitarlos e impedir el acceso a ellos, de manera temporal o definitiva.</p>
                </li>
                <li>
                    <p class="terminos-texto terminos-texto-lista">2. Servicios adquiridos a través del Sitio Web.</p>
                    <p class="terminos-texto terminos-texto-lista">El Usuario reconoce que cuando adquiere algún producto o contrata algún servicio a través del Sitio Web, está generando una relación comercial con Woody. El Usuario es el único responsable de la evaluación y contratación de los productos y servicios ofrecidos en el Sitio Web.</p>
                </li>
                <li>
                    <p class="terminos-texto terminos-texto-lista">3. Funcionamiento del Sitio Web.</p>
                    <p class="terminos-texto terminos-texto-lista">Woody no garantiza que el Sitio Web funcionará permanentemente de la manera esperada y/o sin interrupciones, errores, defectos o imprecisiones. El Usuario reconoce y acepta que la tienda no es responsable por la calidad en la transmisión, ni el tiempo que el Usuario demore en acceder al Sitio Web o a los servicios brindados, o a cualquier otra falla en las comunicaciones.</p>
                    <p class="terminos-texto terminos-texto-lista">En ninguna circunstancia tienda será responsable por cualquier daño (incluyendo, sin limitación, daño emergente, lucro cesante, o daños resultantes de pérdida de datos, o interrupción de negocios) resultantes del uso o acceso a, o la imposibilidad de usar o acceder a, el Sitio Web, y/o sus Servicios, y/o su Contenido y/o cualquier documento.</p>
                    <p class="terminos-texto terminos-texto-lista">Woody no garantiza la inexistencia de virus u otros elementos lesivos que pudieran causar daños o alteraciones en el sistema informático del usuario, y de los que no se hace responsable.</p>
                </li>
            </ol>
            <p class="terminos-texto">
                En ninguna circunstancia tienda será responsable por cualquier daño (incluyendo, sin limitación, daño emergente, lucro cesante, o daños resultantes de pérdida de datos, o interrupción de negocios) resultantes del uso o acceso a, o la imposibilidad de usar o acceder a, el Sitio Web, y/o sus Servicios, y/o su Contenido y/o cualquier documento.
            </p>
            <p class="terminos-texto">
                Woody no garantiza la inexistencia de virus u otros elementos lesivos que pudieran causar daños o alteraciones en el sistema informático del usuario, y de los que no se hace responsable.
            </p>
            <h2 class="terminos-subtitle">
                GENERALIDADES
            </h2>
            <ol start="1">
                <li>
                    <p class="terminos-texto terminos-texto-lista">1. Duración y terminación</p>
                    <p class="terminos-texto terminos-texto-lista">La prestación del servicio de Sitio Web y de los demás Servicios tiene, en principio, una duración indefinida. Woody no obstante, está autorizado para dar por terminada o suspender la prestación del servicio del Sitio Web y/o de cualquiera de los Servicios en cualquier momento. Cuando ello sea razonablemente posible, la tienda advertirá previamente la terminación o suspensión de la prestación del servicio de Sitio Web y de los demás Servicios.</p>
                </li>
                <li>
                    <p class="terminos-texto terminos-texto-lista">2. Ley aplicable y jurisdicción</p>
                    <p class="terminos-texto terminos-texto-lista">Estas Condiciones Generales se rigen por las leyes de la República Argentina.</p>
                    <p class="terminos-texto terminos-texto-lista">Woody y el Usuario, con renuncia expresa a cualquier otro fuero, se someten a la jurisdicción de los Tribunales Ordinarios de la Ciudad Autónoma de Buenos Aires (República Argentina) para cualquier controversia que pudiera derivarse de la prestación de los servicios objeto de estas Condiciones Generales.</p>
                </li>
            </ol>
            
        </section>


    </main>
    <footer>
        <!-- FOOTER-MENU-AYUDA-LEGALES-DIRECCIÓN -->
        <nav class="footer-menu-container">
            <ul class="menu-footer-lista">
                <li>
                    <h4 class="menu-footer-title">ayuda</h4>
                </li>
                <li class="menu-footer-list-items"><a href="">preguntas frecuentes</a></li>
                <li class="menu-footer-list-items"><a href="">pagos</a></li>
                <li class="menu-footer-list-items"><a href="">envíos</a></li>
                <li class="menu-footer-list-items"><a href="">cambios y devoluciones</a></li>
            </ul>
            <ul class="menu-footer-lista">
                <li>
                    <h4 class="menu-footer-title">legales</h4>
                </li>
                <li class="menu-footer-list-items"><a class="menu-footer-links" href="/legales.html">legales</a></li>
                <li class="menu-footer-list-items"><a href="">trabaja con nosotros</a></li>
                <li class="menu-footer-list-items"><a href="/terminos.html">términos y condiciones</a></li>
                <li class="menu-footer-list-items"><a href="">políticas de privacidad</a></li>
            </ul>
            <ul class="menu-footer-lista">
                <li>
                    <h4 class="menu-footer-title">contactanos</h4>
                </li>
                
                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fab fa-whatsapp"></i></span><a href="">11-5897-5897</a></li>

                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-map-marker-alt"></i></span><a href="">av. rivadavia 5897</a></li>
                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-clock"></i></span><a href="">09:000hs a 17:00hs.</a></li>
                <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-envelope"></i></span><a href="">woody@ventas.com</a></li>
            </ul>
        </nav>
        <!-- FOOTER-REDES-SOCIALES -->
        <nav class="rss-container">
            <a class="rss-container-items" href=""><i class="fab fa-instagram"></i></a>
            <a class="rss-container-items" href=""><i class="fab fa-facebook-square"></i></a>
            <a class="rss-container-items" href=""><i class="fab fa-twitter"></i></a>
        </nav>
        <!-- FOOTER-COPYRIGHT -->
        <h5 class="copyright">©Todos los derechos reservados a Woody Toys S.A.</h5>
    </footer>
</body>
</html>