@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

:root{
  /*colors*/
    --color-bg: #fafaff;
    --color-title-bg: #b2b2f9;
    --color-pink: #ff4b64;
    --color-gray: #555555;
    --password-lightblue: #87cefa;
    --color-orange-dark: #ff9700;
    --color-orange-light: #fec607;
    --color-gray-light: #777777; 
    --color-blue-france: #4646f9;
    --color-blue: #6666ff;
    /*font sizes*/
    --fs-title-extrabig:60px;
    --fs-title-big:40px;
    --fs-title:35px;
    --fs-subtitle:28px;
    --fs-form: 25px;
    --fs-bodytext:18px;
    --fs-subtitle:14px;

}
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
  font-family: 'Poppins';
}
a{
  text-decoration: none;
  
}
li{
  list-style: none;
}

