/* LEGALES LEGALES LEGALES */
.legales{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px auto;
}
.title-section {
    font-size: var(--fs-subtitle);
    font-family: 'Poppins', sans-serif;
    color: var(--color-blue-france);
    text-align: left;
    margin-bottom: 20px;
}

.legales-texto {
    font-family: 'Nunito', sans-serif;
    font-size: var(--fs-subtitle);
    color: var(--color-black);
    margin-bottom: 10px;
}
@media (min-width: 760px){
    .legales{
        width: 80%;
        margin: 30px auto;
    }
}