.body-password {
    height: 100vh;
    width: 100%;
    /*  background-color: var(--color-bg); */
    text-align: center;



}

.body-password .password__container {
    display: flex;
    flex-direction: column;

}

.body-password .password-info-container {
    color: #b2b2f9;
    margin-top: 130px;


    display: flex;
    flex-direction: column;
}



.body-password .inputs-container {
    width: 80%;
    padding: 10px;
    align-self: center;
}

.body-password .password-info-container h2 {
    color: var(--color-pink);
}

.body-password .inputs-container p {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    color: var(--color-title-bg);
    font-weight: 600;
}

.body-password .input {
    text-align: center;
    margin: 15px 0;
    width: 70%;
    padding: 10px;
    border-radius: 15px 15px;
    border-style: dotted;
    border-color: var(--color-pink);

}

.body-password .inputs-container button {
    border-radius: 15px 15px;
    border: none;
    background-color: var(--color-title-bg);
    width: 50%;
    color: white;
    margin: 20px 6px auto;
    padding: 6px;
    font-size: 14px;
    box-shadow: 5px 6px 3px rgb(187, 187, 187);
}



.body-password .footer-password p {
    font-size: 12px;
    color: var(--color-gray);
    margin-top: 15px;
}

@media(min-width:460px) {
    .body-password .password-design {

        background-image: url('/images/4680620.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .body-password .password-info-container h2 {
        color: var(--color-title-bg);
    }

    .body-password .inputs-container p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        text-align: center;
        padding: 10px;
        color: var(--color-pink);
        font-weight: 600;
        margin: 15px;
    }

    .body-password .input {
        text-align: center;
        margin: 15px 0;
        width: 70%;
        padding: 10px 0;
        border-radius: 15px 15px;
        border-style: none;
        box-shadow: 5px 6px 3px rgb(187, 187, 187);
    }

    .body-password .inputs-container button {
        border-radius: 15px 15px;
        border: none;
        background-color: var(--color-pink);
        width: 30%;
        color: white;
        margin: 20px 6px auto;
        padding: 10px;
        font-size: 14px;
        box-shadow: 4px 5px 2px rgb(187, 187, 187);
    }
}

@media(min-width:760px) {
   
    .body-password .input {
        margin: 10px 0;
        width: 50%;
        padding: 15px 0;
        border-radius: 15px 15px;
        border-style: none;
        box-shadow: 5px 6px 3px rgb(187, 187, 187);

    }

    .body-password .inputs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body-password .inputs-container button {
        display: block;
        width: 20%;
        padding: 8px;
        background-color: var(--color-title-bg);
    }

    .body-password .inputs-container p {
        font-size: var(--fs-bodytext);
    }
}

@media(min-width:1200px) {
    .body-password .input {
        margin: 10px 0;
        width: 50%;
        padding: 15px 0;
        border-radius: 15px 15px;
        border-style: none;
        box-shadow: 5px 6px 3px rgb(187, 187, 187);

    }

    .body-password .inputs-container button {
        width: 20%;
        padding: 8px;
    }

    .body-password .inputs-container p {
        font-size: var(--fs-bodytext);
    }

}