main h2{
    text-align: center;
    margin-top: 30px;
    color: #37065e;
    padding: 10px;
}
.productos .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
   background: linear-gradient()
}
.productos a{
    color: var(--color-orange-dark);
}
.productos .product-grid{
    height: 450px;
    width: 280px;
    margin-bottom: 100px;
    border: 2px solid #ddd;
    text-align: center;
}
.productos .product-grid .product-image{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.productos .product-grid:hover .product-image{border-color: #e5cafa;}

.product-grid .product-image a.image{
    display: block;
}
.productos .product-grid .product-image img{
    width: 250px;
    height: 250px;
    transition: all 0.5s ease 0s;
   
}
.productos .product-grid:hover .product-image img{
    transform: scale(1.2);
}
.productos .product-grid .hot-label{
    color: #fff;
    background: #ffbf01;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 48px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    position: absolute;
    text-align: center;
    font-weight: 700;
}
.productos .product-grid .links{
font-size: 0;
background: #693593;
width: 100%;
padding: 10px 0;
margin: 0;
list-style: none;
opacity: 0;
position: absolute;
bottom: 0;
left: 0;
z-index: 1;
transition: all 0.4s ease 0s;
}
.productos .product-grid:hover .links{opacity: 1;}
/*al hacer hover se ven los iconos del producto*/
.productos .product-grid .links li{
    padding: 0 10px;
    border-right: 1px solid rgb(255, 255, 255);
    display: inline-block;
}
.productos .product-grid .links li:last-child{
    border: none;
}
.productos .product-grid .links li a{
    color: #ddd;
    font-size: 18px;
    position: relative;
    transition: all 0.3s ease 0s;

}
.productos .product-grid .links li a:hover{color: #fff;}
.productos .product-grid .links li a:before,
.productos .product-grid .links li a:after{
    content: attr(data-tip);
    color: #37065e;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    padding: 7px 8px 5px;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: -30%;
    transition: opacity .2s ease, visibility .5s, top .3s cubic-bezier(.71, 1.7,.77, 1.24 );
}
.productos .product-grid .links li a:after{
    content: '';
    height: 10px;
    width: 10px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    transform: translateX(-50%) rotate(45deg);
    top: -15px;
    z-index: 1;
}
/*esto es para mostrar un dialogo al pasar el mouse por los iconos*/
.productos .product-grid .links li a:hover:before{top: -39px;}
.productos .product-grid .links li a:hover:after{top: -17px;}
.productos .product-grid .links li a:hover:before,
.productos .product-grid .links li a:hover:after{
    opacity: 1;
    visibility: visible;
}
.productos .product-grid .product-content{
    padding: 12px;
    
}
.productos .product-content h3{
    font-size: 20px;
}
.productos .product-grid .title{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 10px;

}
.productos .product-grid .title a:hover{color: #333;}
.productos .product-grid .price{
    color: #693593;
    font-size: 16px;
    font-weight: 500;
}


.productos .product-image h4{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15px;
    width:100%;
    height:100%;
    opacity: 0;
transition: opacity 450ms;
}
.productos .product-image h4:hover{
   
        opacity: 1;
         background: rgba(0, 0, 0, 0.5);
  
}




@media(min-width:768px){
    .productos .wrapper{
       flex-direction: row;
    }
    .productos .product-grid{
        height: 350px;
        width: 300px;
        margin: 15px;
        background: #ffffff;
        text-align: center;
    }
}