
.toy1 {
    display: none;
}
.body-register {
    height: 100vw;
    background-color:var(--color-bg);
    text-align: center;
    
} 
.body-register .register-info-container{
    color: #b2b2f9;
  /* background-color: rebeccapurple; */
    margin-top: 130px;
    display: flex;
    flex-direction: column;
}
.body-register .terminos{
      
    color: black;
    font-size: 12px;
    margin: 20px 0;
}
.body-register .image-container{
    display: none;
}
.body-register .inputs-container{
   
    width: 90%;
    padding:10px;
    align-self:  center;
}
.body-register .inputs-container .p-input{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: left;
    margin-left: 25px;
    color: var(--color-pink);
    font-weight: 600;
}
.body-register .input{
    
    text-align: center;
    margin: 15px 0;
    width: 70%;
    padding: 10px;
    border-radius: 15px 15px;
    border-style: dotted;
    border-color: var(--color-gray);
   

}

.body-register .btn2{
    border-radius: 15px 15px;
    border:none;
    background-color: black;
    width: 60%;
    color: rgb(78, 187, 246);
    margin: 20px 6px auto;
    padding: 10px;
    font-size: 18px;
    box-shadow: 5px 6px 3px rgb(187, 187, 187);
}
.body-register .footer-register p{
    font-size: 14px;
    color: var(--color-gray);
    margin-top:15px
}

@media (min-width: 460px){
 
    .body-register .inputs-container .p-input{
        font-size: var(--fs-form);
        text-align: center;
        color: var(--color-pink);
        font-weight: 600;
        padding: 25px;
    }
    .body-register .terminos{
      
        color: black;
        font-size: 14px;
        margin: 20px 0;
    }
    .body-register .btn2{
        border-radius: 15px 15px;
        border:none;
        background-color: var(--color-pink);
        max-width: 70%;
        color: white;
        margin: 30px 6px auto;
        padding: 15px;
        font-size: 22px;
        box-shadow: 5px 6px 3px rgb(187, 187, 187);
    }
    .toy3{
        display: inline-block;
        width: 50%;
        padding: 15px;
    }
    .body-register .input{
       display: flex;
        margin: auto; 
      
        max-width: 80%;
        padding: 10px;
        border-radius: 15px 15px;
        border-style: dotted;
        border-color: var(--color-gray);
       
    
    }
    .body-register .footer-register, .footer-register p{
        font-size: 20px;
        color: var(--color-gray)
    }
}
@media(min-width:1200px){
    .register-design{
        display: grid;
        grid-template-columns: repeat(2,50%);
        height: 100%;

    }
    .background_register{
        background-image: url('/images/login\ pc.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      
    }
    .body-register{
        width: 100%;
        height: 100vw;
    }
    .body-register .inputs-container p{
        font-size: var(--fs-form);
        
        color: var(--color-pink);
        font-weight: 600;
        padding: 30px;
    }
    .body-register .register__container{
        height: 1200px;
    }
    .body-register .register-info-container h2{
        font-size: 40px;
    }
    
    .body-register .inputs-container{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    .body-register .inputs-container .terminos label{
      
        color: black;
        
        margin: 15px 0;
    }
    .body-register .btn2{
        border-radius: 15px 15px;
        border:none;
        background-color: var(--color-pink);
        width: 70%;
        color: white;
        margin: 20px 6px auto;
        padding: 15px;
        font-size: 25px;
        box-shadow: 5px 6px 3px rgb(187, 187, 187);
    }
    
    .background .toy1{
        display: block;
        margin: 0;
        width: 100%;
       
      
    }
    .body-register .input{
        display: flex;
        margin: 20px 0;
        width: 80%;
        padding: 10px;
        border-radius: 15px 15px;
        border-style: dotted;
        border-color: var(--color-gray);
       
    }
    .body-register .footer-register{
        font-size: 20px;
        color: var(--color-gray);
        margin-top: 15px;
    }
    
    .body-register .footer-register p{
        font-size: 20px;
        color: var(--color-gray);
        
        text-align: center;

    }
}