@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import './general.css';
@import './header.css';
@import './main.css';
@import './footer.css';
@import './productos.css';
@import './detalle-prod.css';
@import './login.css';
@import './register.css';
@import './password.css';
@import './cart.css';
@import './contact.css';
@import './terminos.css';
@import './legales.css';
@import './preguntas.css';
@import './about-us.css';
@import './privacidad.css';
@import './recursos.css';







